In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import json
import uuid
import pickle

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import math
import sklearn.metrics as metrics

from subprocess import check_output

In [7]:
df = pd.read_csv('/workspaces/Nuevo-repo/data/raw/MiningProcess3.csv')
df.head()
## df.shape

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,4/1/2017 0:00,"59,72","9,22","2195,31","523,283","395,785","945,255","171,765","1,763,797,421,322","1,846,194,580,978",...,"249,082","807,178","799,417","799,614","461,455","476,486","421,792","449,983","64,03","3,11"
1,4/1/2017 0:00,"59,72","9,22","2148,28","520,983","397,219","945,499","171,748","1,763,793,195,901","1,846,220,493,979",...,"250,292","810,002","791,179","800,324","471,731","472,107","460,954","453,981","64,03","3,11"
2,4/1/2017 0:00,"59,72","9,22","2101,25","523,682","398,73","945,742","171,731","1,763,788,970,481","184,624,640,698",...,"248,511","800,781","802,031","802,312","474,609","469,266","493,972","447,476","64,03","3,11"
3,4/1/2017 0:00,"59,72","9,22","2054,22","524,413","400,369","945,985","171,713","176,378,474,506","184,627,231,998",...,"248,16","796,182","798,411","796,923","457,443","462,444","481,218","452,986","64,03","3,11"
4,4/1/2017 0:00,"59,72","9,22","2043,43","525,272","402,293","946,229","171,696","1,763,780,519,639","1,846,298,232,981",...,"247,747","790,783","794,159","790,596","437,286","454,435","466,243","459,457","64,03","3,11"

In [8]:
df.dtypes

date                            object
% Iron Feed                     object
% Silica Feed                   object
Starch Flow                     object
Amina Flow                      object
Ore Pulp Flow                   object
Ore Pulp pH                     object
Ore Pulp Density                object
Flotation Column 01 Air Flow    object
Flotation Column 02 Air Flow    object
Flotation Column 03 Air Flow    object
Flotation Column 04 Air Flow    object
Flotation Column 05 Air Flow    object
Flotation Column 06 Air Flow    object
Flotation Column 07 Air Flow    object
Flotation Column 01 Level       object
Flotation Column 02 Level       object
Flotation Column 03 Level       object
Flotation Column 04 Level       object
Flotation Column 05 Level       object
Flotation Column 06 Level       object
Flotation Column 07 Level       object
% Iron Concentrate              object
% Silica Concentrate            object
dtype: object

In [6]:
## df = pd.read_csv('/workspaces/Nuevo-repo/data/raw/MiningProcess3.csv', dtype={'Column1': float, '% Iron Feed': float, 'Column3': float, 'Column4': float, 'Column5': float, 'Column6': float, 'Column7': float, 'Column8': float, 'Column9': float, 'Column10': float, 'Column11': float, 'Column12': float, 'Column13': float, 'Column14': float, 'Column15': float, 'Column16': float, 'Column17': float, 'Column18': float, 'Column19': float, 'Column20': float, 'Column21': float, 'Column22': float, 'Column23': float, 'Column24': float})

In [23]:
## df= df.drop(df.columns[[0]], axis=1)
## df.head()

In [19]:
## train, test = train_test_split(df, test_size=0.2)
## print ('# train:',len(train))
## print ('# test: ',len(test))

In [20]:
## X = train.drop('% Silica Concentrate', axis=1)
## X.head(20)

In [22]:
## y = train['% Silica Concentrate']
## y.head(20)

In [21]:
## s = '18,29'
## s = s.replace(',', '.')
## f = float(s)
## print(f)

In [18]:
## model = RandomForestRegressor()
## model.fit(X,y)